{% extends "main/base.html" %}

{% block body %}
	
<center>
		
<div class="card border-success mb-2 text-center" style="width: 18rem; margin-top: 7px;">
  <div class="card-body text-success">
    <h5 class="card-title">Водный баланс</h5>
    <a href="{% url 'osadki'%}" class="btn btn-success">ОТКРЫТЬ</a>
  </div>
</div>
<div class="card border-success mb-3 text-center" style="width: 18rem;">
  <div class="card-body text-success">
    <h5 class="card-title">Испарение</h5>
    <a href="#" class="btn btn-success">ОТКРЫТЬ</a>
  </div>
</div>
</center>

 
{% endblock %}